<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <!-- /region/save  region dari initialize requestmapping("region") nya trs savenya buat jalanin postmapping("save"), ${region} buat passing data dri classnya-->
            <form th:action="@{/login/save}" method = "post">
                <div class="form-group col-md-4">
                    <label for="Email" class="col-form-label">LOGIN EMAIL</label>
                    <input type="text" class = "form-control" id = "email" th:field = "*{employee.email}">
                </div>

                <div class="form-group col-md-4">
                    <label for="Password" class="col-form-label">LOGIN PASSWORD</label>
                    <input type="text" class = "form-control" id = "password" th:field = "*{user.password}">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>

</html>